<mat-card>
  <mat-card-title>Car List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let owner of owners">
         <div class="owner">
         <b><a [routerLink]="['/owner-edit', owner.id]">{{owner.name}}</a></b>
          <span class="owner__profession">{{owner.profession}}</span>
          <span class="owner__dni">{{owner.dni}}</span>
         </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/owner-add']">Add</button>
</mat-card>
